.Rproj.user
.Rhistory
.RData
.Ruserdata
/R/*.log
/R/Notes.out
/R/*.aux
/notes/lectures/Videos/week3_6a_AsymptoticTestProceedures.mp4.mp4
/notes/Forecasting/*.mp4
/notes/econometrics2/recordings/*.mp4
